@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #18181b;
}

.nav-animation::after{
    content: '';
    background: rgb(4, 71, 172);
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s ease-in-out all;
}

.nav-animation:hover:after{
    width: 100%;
}

.nav {
    text-align: center;
    color: white; 
    padding: 5px 0;
    border-bottom: 1px solid white;
    font-weight: 600;
}
.shadow:hover{
    box-shadow: rgba(255, 255, 255, 0.288) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 6px 6px;
}